langchain==0.3.18
langchain-core==0.3.83
langchain-openai==0.3.35
langchain-chroma==0.2.2
langchain-cohere==0.3.1
langchain-community==0.3.17
langchain-text-splitters==0.3.6
unstructured
markdown
pypdf
python-dotenv
chromadb
cohere
tiktoken
ragas
datasets